<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
    <style>
        strong {
            color: blue;
        }
        html {
            font-family: 'DM Mono', monospace;
            font-weight: 300;
            font-size: 12px;
        }
        h1, h2, strong {
            font-weight: 500;
        }
        h1 {
            font-size: 22px;
        }
        h2 {
            font-size: 18px;
        }
        @page {
            size: letter;
            margin: 2cm;
        }
        .container {
            width: 80%;
            margin: 10% auto;
        }

    </style>
</head>
<body class="letter">
    <section class="sheet">
        <div class="container">
        <h1>Website Performance Metrics:</h1>
        <% if(lighthouse.requests > 60){ %>
            <h2 style="color:red"><% } else {%>
                <h2>
                    <% } %>
                Requests:
        <%= lighthouse.requests %></h2>
        <p>The number of requests on your website is a major factor in determining website performance. The average number of requests for
            a website is about 75. <strong>The fewer requests your website has, the faster and less prone to errors it will be.</strong>
        </p>
        <h2>Requests over 100ms load time: <%= lighthouse.over_100_ms %></h2>
        <p>Requests that take longer than 100ms to complete may cause cascading performance issues. Some requests are 'render-blocking',
            meaning that they prevent other elements from displaying on your web page until they complete. Slow requests cause bottlenecks in
            the loading process and should be avoided.
        </p>
        <h2>Total scripts: <%= lighthouse.scripts %></h2>
        <p>Scripts are documents filled with code that make your website do things. Without scripts, we would only be able to display plain
            text and images on web pages. Scripts allow us to build interactive menus, contact forms, and other important features. Too many scripts
            present both a performance and security issue. Scripts can be combined and 'minified' to reduce download sizes and number of requests. Unneccessary
            scripts should be removed from web pages to reduce security risks!
        </p>
        </div>
    </section>
    <section class="sheet">
        <div class="container">
            <h1>ADA Compliance Issues</h1>
            <p>Your website may feature one or more ADA compliance issues, which could make your
                site less accessible to those using screen readers and other accessibility devices.
                Don't see any issues? Congratulations! Your site has no obvious accessibility issues.
            </p>
            
    <% const ad = Object.keys(ada.issues)
        ad.forEach(a => {
    %> 
        <h2><%= ada.issues[a].message %></h2>
        <p><strong>Context in web page code:</strong><%= ada.issues[a].context %></p>
        <%
            });
        %>
        </div>
    </section>
</body>
</html>